.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card-image {
    width: 100%;
    height: 60%;
    object-fit: initial;
}

.card-detail {
    background-color: #222222;
    border-radius: 5%;
    width: 24%;
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.card-text-detail {
    color: #fff;
    margin: 8px 0;
    font-size: 20px;
    text-align: center;
}

.card-button {
    background-color: #148761;
    color: #FFFFFF;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    width: 80px;
    font-size: 16px;
}