.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 30%;
    min-width: 12rem;
    margin: 1rem;
}

.search-btn {
    background: #148761;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    width: 10%;
    cursor: pointer;
}

.search-input {
    font-size: 20px;
    padding: 8px;
    border: none;
    border-radius: 12px;
    width: 80%;
}